---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

- **Shuang Wu**, Qing Wang*, Da Cui, et al. [Hydrothermal carbonization of food waste for sustainable biofuel production: Advancements, challenges, and future prospects](https://www.sciencedirect.com/science/article/abs/pii/S0048969723039505).  
  <span style="color: blue;">***Sci. Total Environ. 897 (2023) 165327.***</span> (SCI, JCR Q1, IF<sub>2023</sub>=9.8, **ESI Highly cited paper**)

- **Shuang Wu**, Qing Wang*, Da Cui, et al. [Evaluation of fuel properties and combustion behaviour of hydrochar derived from hydrothermal carbonisation of agricultural wastes](https://www.sciencedirect.com/science/article/abs/pii/S1743967123000387).  
  <span style="color: blue;">***J. Energy Inst. 108 (2023) 101209.***</span> (SCI, JCR Q1, IF<sub>2023</sub>=5.7, **ESI Highly cited paper**)

- **Shuang Wu**, Qing Wang, Da Cui*, et al. [Analysis of fuel properties of hydrochar derived from food waste and biomass: Evaluating varied mixing techniques pre/post-hydrothermal carbonization](https://www.sciencedirect.com/science/article/abs/pii/S0959652623038180).  
  <span style="color: blue;">***J. Clean. Prod. 430 (2023) 139660.***</span> (SCI, JCR Q1, IF<sub>2023</sub>=11.1)

- **Shuang Wu**, Qing Wang, Da Cui*, et al. [Effect of CaO addition on the migration behavior of nitrogen and sulfur during Beipiao oil shale combustion](https://www.sciencedirect.com/science/article/abs/pii/S0360544224020449).  
  <span style="color: blue;"> ***Energy, 304 (2024) 132270.*** </span> (SCI, JCR Q1, IF<sub>2024</sub>=9.0)

- **Shuang Wu**, Qing Wang*, Da Cui, et al. [Insights into the chemical structure evolution and carbonisation mechanism of biomass during hydrothermal treatment](https://www.sciencedirect.com/science/article/abs/pii/S1743967123000867).  
  <span style="color: blue;"> ***J. Energy Inst. 108 (2023) 101257.*** </span> (SCI, JCR Q1, IF<sub>2023</sub>=5.7)

- See more papers via [Google Scholar](https://scholar.google.com.hk/citations?user=liaz4aYAAAAJ&hl=zh-CN) or [ORCID](https://orcid.org/0000-0002-9537-5950).

  
<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



